.head .h3{
    color: white;
    font-size: 35px;
    background-color: rgb(250, 92, 0);
    height: 1.4cm;
    padding:0.2cm 0cm 0cm 1.5cm;
}

.menu{
    margin: 10px auto;
    padding: 0.3cm;
    width: 95%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    box-shadow: 1px 1px 5px rgb(48, 46, 46),-2px -2px 5px rgb(216, 198, 198);
    border-radius: 0.2cm;
}

.menu .food-menu{
    margin: 0.2cm;
    display: inline-block;
    padding: 0.4cm 0.6cm 0.1cm 0.6cm;
    border: none;    
}

.sec-img{
    width: 100%;
    height: 5cm;
    background-image: url('../img/kitchen2.jpg');
    background-attachment: fixed;
    background-position-y: center;
    background-repeat: no-repeat;
}

#sec-img1{
    background-image: url('../img/kitchen3.jpg');
    background-size: cover;
}

.sec-img .marq{
    font-size: 40px;
    font-weight: bold;
    color: rgb(179, 177, 170);
    text-shadow: 0px 0px 3px black,0px 0px 2px black;
}

.sec-img h2{
    margin-left: 1cm;
    font-size: 45px;
    color: rgb(235, 138, 125);
    font-weight: bold;
    text-shadow: 0px 0px 3px black,0px 0px 2px black;
}

.btn {
    height: 1.3cm;
}