*{
    margin: 0;
    padding: 0;
}

.topnav{
    width: 100%;
    height: 2cm;
    background-color:  rgb(250, 92, 0);
    position: sticky;
    top: 0px;
    z-index: 1;
}
.topnav nav {
    float: right;
    margin-right: 5%;
}
.topnav nav li{
    display: inline-block;
    margin-top: 0.6cm;
    padding: 0.2cm;    
}
.topnav nav li a{
    padding: 0.3cm;
    padding-right: 0.4cm;
    border-radius: 1cm;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.topnav nav li a:hover{
    color: black;
}
.topnav .h1{
    display: inline-block;
    margin-left: 5%;
    text-align: center;
    padding-top: 0.5cm;
    color:rgb(236, 138, 125);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 3px black,0px 0px 5px black;
}

.batch {
    color: white;
    margin-left: 8px;
    padding-left: 0.2cm;
    padding-right: 0.3cm;
    text-align: center;
    border-radius: 1cm;
    background-color: rgb(185, 17, 25);
}


#icon{
    display: none;
}

#check{
   display: none;
}

@media only screen and (max-width:800px){
    .topnav nav li{
        display: block;
    }
    .topnav .navi{
        position: absolute;
        display: none;
        background-color: #262626;
        margin-top: 1vw;
        margin-right: 0;
        width: 100%;
        text-align: center;
        height: 7.5cm;
        transition: all .1;
    }
    .topnav nav li a {
        padding: 0.5cm 30vw;
    }
    .topnav nav li a:hover{
        color: rgb(255, 0, 0);
    }
    .hide{
        display: none;
    }
    #check{
        display: none;
    }
    #check:checked~ .navi {
        display: block;
       
    }
    #icon{
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 0.8cm;
        font-size: 0.6cm;
        color: rgb(5, 59, 59);
        cursor: pointer;
    }
    .batch1{
        color: white;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        top: 0.3cm;
        right: 3%;
        background-color: rgb(185, 17, 25);
        margin-left: 8px;
        padding-left: 0.3cm;
        padding-right: 0.3cm;
        border-radius: 1cm;
        text-align: center;
        cursor: pointer;
    }
}


@media only screen and (max-width:650px) {
    .topnav .h1{
        font-size: 25px;
        padding-top: 0.6cm;
    }
}